@font-face{
    font-family: console;
    src: url(../fonts/EHSMB.TTF);
}

body{
    background-color: black;
    color: white;
    font-family: console;
}

.center_h{
    text-align: center;
}

h1{
    font-size: 900%;
}

.social{
    margin-top: 10%;
    text-align: center;
}


.insta{
    height: 5%;
    width: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
.social_h1{
    font-size: 500%;
}